@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#homePage {
    font-family: "Lato", sans-serif;
    text-align: center;
    color: rgb(6, 10, 31);
}

#topBackground {
    display: block;
    background-image: url("/src/assets/bg-1.PNG");
    background-size: 105%;
    background-position: center;
    filter: brightness(0.75);
    height: 300px;
}

#homePageLogo {
    position: absolute;
    top: 10px;
    left: 40%;
}

#mainSlogan {
    font-family: "Playwrite GB S", cursive;
    margin-top: 100px;
    font-size: 50px;
    font-weight: 400;
    color: #e24f23;
    text-shadow: 0 1px #bb370f, 0 2px #bb370f, 0 4px #bb370f;
}

#hotpotInfoContainer {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
}

#aboutBoilingPoint {
    margin: 100px 0 50px 0;
    width: 400px;
}

#aboutShabuShabu {
    width: 400px;
}

#whatIsShabuShabu {
    font-weight: 800;
    color: #e24f23;
    display: flex;
    gap: 5px;
}



@keyframes bounce {
    0% {transform: scale(1, 1) translateY(0);}
    10% {transform: scale(1.1, .9) translateY(0);}
    30% {transform: scale(.9, 1.1) translateY(-10px);}
    50% {transform: scale(1.05, .95) translateY(0);}
    58% {transform: scale(1, 1) translateY(-7px);}
    65% {transform: scale(1, 1) translateY(0);}
    100% {transform: scale(1, 1) translateY(0);}
}

@keyframes appearFromLeftSide {
    0% {transform:  scale(1, 1) translateX(-500px);}
    100% {transform:  scale(1, 1) translateX(0);}
}
@keyframes appearFromRightSide {
    0% {transform:  scale(1, 1) translateX(500px);}
    100% {transform:  scale(1, 1) translateX(0);}
}

.what{
    animation: bounce 1s ease infinite;
}

.is {
    animation: bounce 1s ease infinite .2s;
}

.shabu {
    animation: bounce 1s ease infinite .4s;
}

.shabuu {
    animation: bounce 1s ease infinite .6s;
}


#setSection {
    background-color: rgb(2, 2, 12);
    color: white;
    margin-top: 100px;
    padding: 100px 0;
}

#sets {
    display: flex;
    justify-content: space-around;
    
}

#normalSetImg {
    border-radius: 10px;
}

#premiumSetImg {
    border-radius: 10px;
}

#setsTitile {
    font-family: "Playwrite GB S", cursive;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 50px;
}

#setsSubTitle {
    font-weight: 400;
    margin-bottom: 40px;
}

#wagyu {
    color: #ad2121;
    font-weight: 800;
}

#normalSet, #premiumSet{
    display: flex;
    padding-right: 55px;
}

#normalSet {
    animation: appearFromLeftSide 1.5s ease;
}

#premiumSet {
    animation: appearFromRightSide 1.5s ease;
}

#normalSetTitle, #premiumSetTitle {
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 55px;
}

#normalListInfo, #premiumListInfo {
    font-size: 15px;
    margin-left: 55px;
    font-weight: 300;
    list-style: none;
    text-align: left;
}

.setLists {
    margin: 10px 0;
}

.price {
    font-weight: 300;
    color:#e29f23; 
    text-align: left;
    margin: 55px;
}

#locations {
    background-color: white;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#locationsTitle {
    font-family: "Playwrite GB S", cursive;
    color: rgb(3, 0, 155);
    font-size: 25px;
    font-weight: 400;
}

#locationsLinkButton {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
}

#locationsLinkButton:hover {
    background-color: rgb(2, 3, 17);
    color: white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
    transition: 0.5s;
}

#locationIcon {
    animation: bounce 1s ease infinite .4s;
}

#mapAndButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#locationMap {
    position: relative;
}

.locationIconOnMap {
    position: absolute;
}


.location1 {
    top: 100px;
    left: 15px;
}

.location2 {
    top: 180px;
    left: 170px;
}

.location3 {
    top: 55px;
    left: 345px;
}

.location4 {
    top: 95px;
    left: 247px;
}

.location5 {
    top: 177px;
    left: 227px;
}

#footerSection {
    background-color: rgb(2, 2, 12);
    color: white;
    padding: 50px 0;
}

#footerSection > h2 {
    font-weight: 400;
}

#socialLogosContainer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.socialLogos:hover {
    cursor: pointer;
}