* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar{
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;
    text-align: center;
}

.menu-button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-icon, .menu-icon::before , .menu-icon::after {
    background-color: white;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    position: absolute;
    transition: all 0.5s;
}

.menu-icon::before, .menu-icon::after {
    content: "";
    width: 30px;
    height: 3px;
}

.menu-icon::before {
    transform: translate(-15px, -8px);
}

.menu-icon::after {
    transform: translate(-15px, 8px);
}

.menu-button:focus {
    outline: none;
    border: none;
}

/* to form the X */
:is(.active) .menu-icon {
    background-color: transparent;

    /* THIS IS TO ADD THE SPINNING EFFECT ON THE MENU ICON */
    transform: rotate(360deg);
}

/* to form the X */
:is(.active) .menu-icon::before {
    transform: translateX(-15px) rotate(45deg);
}

/* to form the X */
:is(.active) .menu-icon::after {
    transform: translateX(-15px) rotate(-45deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.navBarLinksContainer {
    background-color: rgba(0, 0, 0, 0.7);
    width: 200px;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.5s;
}

.navBarLinks {
    color: white;
    padding: 8px 0;
    
}

.navBarLinks:hover {
    color: white;
}

@media (max-width: 500px) {

    .navBar{

        top: 10px;
        left: 10px;
    }

    .menu-button {
        width: 38px;
        height: 38px;
    }
    
    .menu-icon, .menu-icon::before , .menu-icon::after {
        background-color: white;
        width: 25px;
        height: 3px;
        border-radius: 5px;
    }
    
    .menu-icon::before, .menu-icon::after {
        content: "";
        width: 25px;
        height: 3px;
    }
    
    .menu-icon::before {
        transform: translate(-12px, -8px);
    }
    
    .menu-icon::after {
        transform: translate(-12px, 8px);
    }
    
    /* to form the X */
    :is(.active) .menu-icon {
        background-color: transparent;
    
        /* THIS IS TO ADD THE SPINNING EFFECT ON THE MENU ICON */
        transform: rotate(360deg);
    }
    
    /* to form the X */
    :is(.active) .menu-icon::before {
        transform: translateX(-12px) rotate(45deg);
    }
    
    /* to form the X */
    :is(.active) .menu-icon::after {
        transform: translateX(-12px) rotate(-45deg);
    }
}