@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

#WaitListPage {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 100px;
    align-items: center;
    height: fit-content;

    width: 100%;
    background-color: white;
    color: #060a1f;
    font-family: "Lato", sans-serif;
}

.smallText {
    font-size: 14px;
}

.mediumText {
    font-size: 17px;
    font-weight: 600;
}

.largeText {
    font-size: 20px;
    font-weight: 800;
}

.lowOpacityText {
    opacity: 0.7;
}

#waitListMainContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#locationInfoAndInputFieldContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    padding: 35px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#locationInfoContainer {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 25px;
}

#restaurantName {
    font-family: "Archivo Black", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10px;
}

#ratingStarsContainer {
    display: flex;
}

#ratingContainer {
    display: flex;
    gap: 10px;
}

.ratingStars {
    width: 20px;
}

.priceOfRestaurantText {
    margin-bottom: 30px;
}

#waitListDetailsContainer {
    margin-top: 30px;
}


.waitListDetailsList {
    margin-left: 17.5px;
}

#inputFieldContainer {
    padding: 0 25px;
}

#waitListInputHeader {
    margin-bottom: 30px;
}

.waitTimeDisplayContainer {
    display: flex;
    align-items: center;
    
}

.waitTimeUnavailableText {
    color: grey;
}



.tealText {
    color: #00afaf;
}

.redText {
    color: #fd3131;
}


.liveText {
    font-size: 12px;
    position: relative;
    margin-right: 5px;
    margin-left: 0px;
    font-weight: 400;
    padding: 2px 3px;
    border-radius: 3px;
    color: white;
    background-color: #00afaf;
}

.forPulsingAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    opacity: .8;
    border: 2px solid #00afaf;
    animation: pulseAnimation 2s ease-out infinite;
}

@keyframes pulseAnimation {
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

.radioAndInfoHeader {
    margin-bottom: 15px;
}

.selectPartySizeContainer {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.partySizeLabel {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    color: #060a1fb4;
    width: 80px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partySizeLabel:hover {
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.25);
}

.activeRadio {
    background-color: #00afaf;
    color: white;
    border: 0.5px solid #00afaf;
}

.partySizeInput {
    display: none;
}

.largePartyText {
    margin-bottom: 15px;
}

.twoInputDisplayContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.individualInputContainer {
    margin-bottom: 20px;
}

.inputFields {
    width: 100%;
    padding: 15px 10px;
    background-color: white;
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.inputFields:focus {
    border: none;
    outline: 1px solid #00afafb9;
}

.inputFields:disabled {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    opacity: 0.6;
}

.errorMessage {
    display: inline;
}

.submitBtn {
    padding: 10px 30px;
    background-color: #00afaf;
    color: white;
    border-radius: 5px;
    border: none;
}

.submitBtn:hover {
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.25);
}

.submitBtn:disabled {
    opacity: 0.7;
    background-color: rgba(128, 128, 128, 0.3);
    color: rgba(0, 0, 0, 0.6);
}

.submitBtn:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
}

hr {
    opacity: 0.5;
}

.waitListFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: #02020c;
    padding: 50px 0;
}

.waitListFooter > p {
    text-align: center;
}

#footerSection > h2 {
    font-weight: 400;
}

#socialLogosContainer {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.socialLogos:hover {
    cursor: pointer;
}


/* MEDIA QUERY FOR MOBILE DEVICES  */
@media (max-width: 700px) {
    #WaitListPage {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 100vh;
        width: 100%;
        background-color: white;
        color: #060a1f;
        font-family: "Lato", sans-serif;
    }

    #waitListMainContent{
        margin-top: 200px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    #waitListPageBG {
        width: 100%;
        filter: brightness(0.6);
        background-color: white;
        margin-bottom: 280%;
    }
    
    #locationInfoAndInputFieldContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
        width: 80%;
        padding: 15px 10px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    #locationInfoContainer {
        border-right: none;
        border-bottom:1px solid rgba(0, 0, 0, 0.15);
        padding: 20px 25px;
    }

    #inputFieldContainer {
        padding: 0 25px;
    }
    
    .selectPartySizeContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
        gap: 20px;
        margin-bottom: 20px;
    }

    .partySizeLabel {
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        color: #060a1fb4;
        border-radius: 3px;
        width: 100%;
        height: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .activeRadio {
        background-color: #00afaf;
        color: white;
        border: 0.5px solid #00afaf;
    }

    .twoInputDisplayContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

}

@media (min-width: 700px) and (max-width: 1080px) {
    #waitListMainContent{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    #waitListPageBG {
        width: 100%;
        filter: brightness(0.6);
        background-color: white;
        margin-bottom: 120%;
    }
    
    #locationInfoAndInputFieldContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;
        padding: 15px 10px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    #locationInfoContainer {
        border-right: none;
        border-bottom:1px solid rgba(0, 0, 0, 0.15);
        padding: 20px 25px;
    }

    #inputFieldContainer {
        padding: 0 25px;
    }
    
    .selectPartySizeContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
        gap: 20px;
        margin-bottom: 20px;
    }

    .partySizeLabel {
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        color: #060a1fb4;
        border-radius: 3px;
        width: 100%;
        height: 150%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .activeRadio {
        background-color: #00afaf;
        color: white;
        border: 0.5px solid #00afaf;
    }

    .twoInputDisplayContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    .inputFields {
        width: 100%;
        background-color: white;
        padding: 15px 10px;
        border: 0.5px solid rgba(0, 0, 0, 0.7);
        border-radius: 5px;
    }
}

@media (min-width: 1100px) and (max-width: 1200px) {

    .selectPartySizeContainer {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;
    }
    
    .partySizeLabel {
        border: 0.5px solid rgba(0, 0, 0, 0.3);
        color: #060a1fb4;
        width: 60px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .activeRadio {
        background-color: #00afaf;
        color: white;
        border: 0.5px solid #00afaf;
    }
    
}