@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#WaitListPage {
    height: 100vh;
    width: 100%;
    color: #060a1f;
    font-family: "Lato", sans-serif;
}

.smallText {
    font-size: 14px;
}

.mediumText {
    font-size: 17px;
    font-weight: 600;
}

.largeText {
    font-size: 20px;
    font-weight: 800;
}

.lowOpacityText {
    opacity: 0.7;
}

#waitListPageBG {
    width: 100%;
    filter: brightness(0.6);
}

#locationInfoAndInputFieldContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    padding: 35px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#locationInfoContainer {
    border-right: 1px solid rgba(0, 0, 0, 0.507);
    padding: 0 25px;
}

#restaurantName {
    font-family: "Archivo Black", sans-serif;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 10px;
}

#ratingStarsContainer {
    display: flex;
}

#ratingContainer {
    display: flex;
    gap: 10px;
}

.ratingStars {
    width: 20px;
}

.priceOfRestaurantText {
    margin-bottom: 30px;
}

#waitListDetailsContainer {
    margin-top: 30px;
}


.waitListDetailsList {
    margin-left: 17.5px;
}

#inputFieldContainer {
    padding: 0 25px;
}

.waitTimeDisplayContainer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}



.tealText {
    color: #00afaf;
}

.redText {
    color: #fd3131;
}


.liveText {
    font-size: 12px;
    position: relative;
    margin-right: 5px;
    font-weight: 400;
    padding: 2px 3px;
    border-radius: 3px;
    color: white;
    background-color: #00afaf;
}

.forPulsingAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    opacity: .8;
    border: 2px solid #00afaf;
    animation: pulseAnimation 2s ease-out infinite;
}

@keyframes pulseAnimation {
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}


.selectPartySizeContainer {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.radioAndInfoHeader {
    margin-bottom: 15px;
}

.partySizeLabel {
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    color: #060a1fb4;
    width: 80px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeRadio {
    background-color: #00afaf;
    color: white;
    border: 0.5px solid #00afaf;
}

.partySizeInput {
    display: none;
}

.twoInputDisplayContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.inputFields {
    width: 100%;
    padding: 15px 10px;
    margin-bottom: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.inputFields:focus {
    outline: 1px solid #00afafb9;
}