* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color-scheme: light only;
}

html {
    height: 100vh;
    width: 100%;
    background-color: white;
    color-scheme: light only;
}

body {
    height: 100vh;
    width: 100%;
    background-color: white;
}

#root {
    height: 100%;
    width: 100%;
    background-color: white;
    color-scheme: light only;
}

/* Override dark mode preferences */
@media (prefers-color-scheme: dark) {
    :root {
      background-color: white !important;
    }

    html {
        background-color: white !important;
    }

    body {
        background-color: white !important;
    }
  }